
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/015 shoppers-gh-pages/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/magnific-popup.css">
    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/jquery-ui.css">
    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/aos.css">

    <link rel="stylesheet" href="~/015 shoppers-gh-pages/css/style.css">

</head>
<body>

    <div class="site-wrap">
     

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/CariPanel">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Teşekkürler.</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="icon-check_circle display-3 text-success"></span>
                        <h2 class="display-3 text-black">Teşekkür Ederiz!</h2>
                        <p class="lead mb-5">Siparişiniz başarıyla aınmıştır.</p>
                        <p><a href="/CariPanel/urun1" class="btn btn-sm btn-primary">Alışverişe Dön</a></p>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

    <script src="~/015 shoppers-gh-pages/js/jquery-3.3.1.min.js"></script>
    <script src="~/015 shoppers-gh-pages/js/jquery-ui.js"></script>
    <script src="~/015 shoppers-gh-pages/js/popper.min.js"></script>
    <script src="~/015 shoppers-gh-pages/js/bootstrap.min.js"></script>
    <script src="~/015 shoppers-gh-pages/js/owl.carousel.min.js"></script>
    <script src="~/015 shoppers-gh-pages/js/jquery.magnific-popup.min.js"></script>
    <script src="~/015 shoppers-gh-pages/js/aos.js"></script>

    <script src="~/015 shoppers-gh-pages/js/main.js"></script>

</body>
</html>
